<?xml version="1.0" encoding="UTF-8"?>
<suite configfailurepolicy="continue" name="Suite" parallel="none">
	<test name="Test" preserve-order="true">
		<classes>
			<class name="commonMethods.Testcases" />
		</classes>
	</test>
	<listeners>
		<listener class-name="commonMethods.TestMethodFilter" />
		<listener class-name="Mail.CustomTestListener" />
	</listeners>
</suite>